*{
	box-sizing: border-box;
	margin:0; padding: 0;
}
body{
	font-family: arial, Sans-sarif;
	background: #2ecc71;
	color: #fff;
	line-height: 1.8;
}
a{
	text-decoration: none;
}
.container{
	margin:30px auto;
	max-width: 450px;
	padding: 20px;
}
.form-wrap{
	background:#fff;
	padding: 15px 25px;
	border: 1px solid #ddd;
	border-radius: 6px;
	color:#d35400;
}
.form-wrap img{
	width: 150px;
	height: 100px;
	margin-left: 100px;
}
.form-wrap h1{
	text-align: center;
}
.form-wrap .form-group{
	margin-top: 15px;
}

.form-wrap .form-group label{
	display: block;
	color:#3498;
}
.form-wrap .form-group input{
	width:100%;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid #ccc;
}
.form-wrap .btn{
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	background: #2ecc71;
	color:#fff;
	border-radius: 6px;
	border:1px solid #ccc;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
}
.form-wrap .btn:hover{
	background: #F52D24;
}
.form-wrap .bottom-text{
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
}
.form-wrap a{
	font-size: 11px;
	text-align: center;
}
.form-wrap .mid{
	text-align: center;
}